<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jacek Kubicki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <link rel="icon" type="image/png" href="images/favicon.ico">
  
  <!-- Custom styles -->
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  
  </head>
<body>

<!-- NAVBAR
================================================== -->
<body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" target="_blank" href="https://pl.linkedin.com/pub/jacek-kubicki/3a/3b1/5a1">Connect on LinkedIn</a>
            </div>
          </div>
        </nav>
        
      </div>
    </div>

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome on my test site.</h1>
              <p>This is where I experiment with web technologies like google appengine, angular, bootstrap and jinja. 
              <br> 
                 I also want to share here some of my private projects, as well as other people cool stuff.
              </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Disclaimer.</h1>
              <p>Everything you experience on this site is and will always be in a highly experimental state of developement. That's what this site is for.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another disclaimer.</h1>
              <p>The quality of the code in the projects that I share here does not reflect in any way the quality of my professional/production code. Because this projects are just for fun and learning I put the quality on a second plan. I don't do that at work, I promise :).</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    
     <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
      
        <div class="col-lg-4">
          <img class="img-circle" src="images/appengine.png" alt="Google appengine" width="140" height="140">
          <h2>This website</h2>
          <p>Code for this webside. Nothing special, but I use it to learn web technologies and services related to google cloud, plus I get to experiment with some angular and bootstrap.</p>
          <p><a class="btn btn-default" target="_blank" href="https://github.com/jacnik/homepage" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="img-circle" src="images/neuralnetwork.png" alt="Neural network" width="140" height="140">
          <h2>Basic Neural Network</h2>
          <p>Canonical neural network implementation for recognizing handwritten digits. I made some time ago as a part of Machine Learning course from Coursera. I did also finish all of the rest of the projects for that class. But I think this one is the most worth mentioning.</p>
          <p><a class="btn btn-default" href="#2" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="img-circle" src="images/scala.png" alt="Keith Schwarz" width="140" height="140">
          <h2>Reactive Programming</h2>
          <p>Source code for all of the assignments in course: Principles of Rractive Programming in <code>scala</code>. This was the second part of the course, I also did the first one, and I fell in love with <code>scala</code>. I wish I'll have the oportunity to work with this language professionally one day.</p>
          <p><a class="btn btn-default" target="_blank" href="https://bitbucket.org/jacnik/principles-of-reactive-programming" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->
      
      <!-- START THE FEATURETTES -->
      
      <hr class="featurette-divider">

      <div class="row featurette" id="1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Keith Schwarz.<span class="text-muted">One of my biggest inspirations.</span></h2>
          <p class="lead">An archive of interesting code by Keith Schwarz, a brilliant programmer and one of my biggest inspirations. <a target="_blank" href="http://www.keithschwarz.com/interesting/">http://www.keithschwarz.com/interesting/</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="2">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="3"> 
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Jacek Kubicki &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
    
</body>
</html>